* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  /* overflow: hidden; */
}

header {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 4%;
  background: linear-gradient(506.59deg,
      #4e6e81 -7%,
      #2e3840 5.53%,
      black 48.53%,
      #ff0303 110.52%);
  box-shadow: 0 0 15px black;
  animation: mymove 4s infinite;
}

@keyframes mymove {
  50% {
    opacity: 0.7;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2e3840;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(82deg,
      #4e6e81 -17%,
      #2e3840 -49.47%,
      black 48.53%,
      #ff0303 105.52%);
}

.logo {
  font-family: "Quintessential", cursive;
  font-size: 30px;
  font-weight: 700;
  color: #f9dbbb;
}

.navlist {
  display: flex;
}

.navlist a {
  color: #f9dbbb;
  margin-left: 60px;
  font-size: 15px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: all 0.55s ease;
}

.navlist a:hover {
  border-bottom: 2px solid #f9dbbb;
}

#menu-icon {
  color: #f9dbbb;
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

.hero {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
}

.wrapper-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

section {
  padding: 0 15%;
}

.hero-text h5 {
  font-size: 14px;
  font-weight: 400;
  color: #f9dbbb;
  margin-bottom: 40px;
  text-shadow: 0 0 10px black;
}

.hero-text h1 {
  font-family: "Quintessential", cursive;
  font-size: 80px;
  line-height: 1;
  color: #f9dbbb;
  margin: 0 0 45px;
  text-shadow: 0 0 10px black;
}

.hero-text h4 {
  font-size: 16px;
  font-weight: 600;
  color: #f9dbbb;
  margin-bottom: 10px;
  text-shadow: 0 0 10px black;
}

.hero-text p {
  color: #f9dbbb;
  font-size: 17px;
  line-height: 1.9;
  margin-bottom: 40px;
  text-shadow: 0 0 10px black;
}

.hero-text a {
  display: inline-block;
  color: #2e3840;
  background: #f9dbbb;
  border: 1px solid transparent;
  padding: 12px 30px;
  line-height: 1.4;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.55s ease;
}

.hero-text a:hover {
  background: transparent;
  border: 1px solid #f9dbbb;
  color: #f9dbbb;
  transform: translatex(8px);
}

.hero-text a.ctaa {
  background: transparent;
  color: #f9dbbb;
  border: 1px solid #f9dbbb;
  margin-left: 20px;
}

.hero-text a.ctaa i {
  vertical-align: middle;
  margin-right: 5px;
}

.icons {
  position: absolute;
  top: 50%;
  padding: 0 6%;
  transform: translatey(-50%);
}

.icons i {
  display: block;
  margin: 26px 0;
  font-size: 24px;
  color: #f9dbbb;
  transition: all 0.50s ease;
}

.icons i:hover {
  color: #f9dbbb;
  transform: translatey(-5px);
}

.scroll-down {
  position: absolute;
  bottom: 6%;
  right: 9%;
}

.scroll-down i {
  display: block;
  padding: 12px;
  font-size: 25px;
  color: #f9dbbb;
  border-radius: 30px;
  text-shadow: 0 0 7px #2e3840;
  transition: all 0.5s ease;
}

.scroll-down i:hover {
  text-shadow: 0 0 7px #f9dbbb;
  box-shadow: 0 5px 5px #3f4346c2;
  transform: translateY(-8px);
}

@media (max-width: 1535px) {
  header {
    padding: 15px 3%;
    transition: all 0.55s ease-in;
  }

  .icons {
    padding: 0 3%;
    transition: 0.2s;
  }

  .scroll-down {
    right: 3%;
    transition: 0.2s;
  }
}

@media (max-width: 1460px) {
  section {
    padding: 11.12%;
    transition: 0.2s;
  }
}

@media (max-width: 1340px) {
  section {
    padding: 9.3%;
    transition: 0.2s;
  }

  .hero-img img {
    width: 90%;
    height: auto;
  }

  .hero-text h1 {
    font-size: 75px;
    margin: 0 0 30px;
  }

  .hero-text h5 {
    margin-bottom: 25px;
  }
}

@media (max-width: 1195px) {
  section {
    padding: 4.3%;
    transition: 0.2s;
  }

  .hero-text {
    padding-top: 115px;
  }

  .hero-img {
    text-align: center;
  }

  .hero-img img {
    width: 560px;
    height: auto;
  }

  .hero {
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }

  .icons {
    display: none;
  }

  .scroll-down {
    display: none;
  }
}

@media (max-width: 990px) {
  #menu-icon {
    display: block;
  }

  .navlist {
    position: absolute;
    top: 99%;
    right: -100%;
    width: 250px;
    height: 40vh;
    background: linear-gradient(736.59deg,
        #4e6e81 -8%,
        #2e3840 7.53%,
        black 48.53%,
        #ff0303 123.52%);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 14px;
    transition: all 0.55s ease;
    opacity: 0.9;
  }

  .navlist a {
    margin-left: 0;
    display: block;
    margin: 7px 0;
    color: #f9dbbb;
  }

  .navlist.open {
    right: 0;
  }
}

@media (max-width: 680px) {
  .hero-img img {
    width: 100%;
    height: auto;
  }
}

.footer-wrapper {
  background: #1d2328;
  align-items: center;
  padding: 10px;
  height: 100%;
  display: grid;
  color: #f9dbbb;
  /* display: flex; */
  /* flex-wrap: wrap; */
  grid-template-columns: repeat(3, 2fr);
  position: relative;
}

.about {
  text-align: justify;
  height: 400px;
}

.about-text {
  font-size: 14px;
  padding: 10px 20px 10px 0;
  height: 300px;
  overflow-y: scroll;
}

.about h1 {
  font-family: "Quintessential", cursive;
  margin-bottom: 15px;
  text-transform: uppercase
}

.about h2 {
  font-family: "Quintessential", cursive;
  font-size: 17px;
  margin-bottom: 20px;
  text-transform: uppercase
}

.movie-img {
  padding: 100px;
}

.info h1{
  font-family: "Quintessential", cursive;
  text-align: center;
}

span{
}